@charset "UTF-8";


/*! Dstyle Reset : library Style Sheet */

/*! 웹접근성 스크린리더 코드 */
.tts,caption{position:absolute;clip:rect(0,0,0,0);margin:-1px;padding:0;width:1px;height:1px;overflow:hidden;border:0}


/*! Clear Fix */
.clearfix{*zoom:1}
.clearfix:after,.clearfix:before{display:table;content:"";line-height:0}
.clearfix:after{clear:both}
