@charset "UTF-8";
@import "./_lib/val.scss";
@import "./_lib/mixin.scss";
/*
* @File Name : 00_reset.scss
* @author : Dstyle
* @Description : 공통 엘리먼트 CSS 초기화
*
* @Modification Information
*
* 수정일 : 수정자 : 수정내용
* ------------------------
* 2018.11.06 : Dstyle : 최초생성
*/
/*! Dstyle Reset */
html,body{height:100%; margin:0; padding:0;}
div, span, p, b, em, strong, i, dl, dt, dd, ol, ul, li, h1, h2, h3, h4, h5, h6, img, iframe, table, caption, tbody, tfoot, thead, tr, th, td,
blockquote, pre, code, samp, kbd, var, cite, abbr, q, small, sub, sup, del, ins, dfn, object, fieldset, form, input, textarea, select, label, legend, map
menu, nav, hgroup, header, footer, section, article, aside, figcaption, figure, canvas, address, details, summary, time, mark, audio, video { margin:0; padding:0; border:0; font:inherit;}
a, span, i, label { display:inline-block;}
dt{display:block;}
ul,ol,li,dl,dt,dd { list-style:none;}
strong,em,i,address { font-style:normal;}
strong,b { font-weight:bold;}
table { border-spacing:0; border-collapse:collapse; table-layout:fixed;}
img, label, input,textarea, select { vertical-align:middle;}
hr { overflow:hidden; visibility:hidden; font-size:0; line-height:0;}
a,area,label{ cursor:pointer;}
legend { position:absolute; visibility:hidden; overflow:hidden; width:0; height:0; margin:0; padding:0; font-size:0; line-height:0}
textarea { resize:none; box-shadow: none; -webkit-appearance:none; -webkit-border-radius:0;}
textarea, button { cursor:pointer;-webkit-border-radius:0; border-radius:0; -webkit-box-shadow: none;}
input[type=text],
input[type=password],
input[type=tel],
input[type=number],
input[type=email],
input[type=url],
input[type=file]{border-radius:0; -webkit-appearance:none;-webkit-border-radius:0;}