@charset "UTF-8";
@import "./_lib/val.scss";
@import "./_lib/mixin.scss";
/*
* @File Name : 04_libraryStyleSheet.scss
* @author : Dstyle
* @Description : 공통으로 사용하는 라이브러리(믹스인?)
*
* @Modification Information
*
* 수정일 : 수정자 : 수정내용
* ------------------------
* 2018.11.07 : Dstyle : 최초생성
*/
/*! Dstyle Reset : library Style Sheet */

/*! 웹접근성 스크린리더 코드 */
.tts, caption { position:absolute; width:1px; height:1px; margin:-1px; padding:0; overflow:hidden; clip:rect(0, 0, 0, 0); border:0;}

/*! Clear Fix */
.clearfix {*zoom:1;}
.clearfix:before, .clearfix:after {display:table; content:''; line-height: 0;}
.clearfix:after {clear:both;}

/*! thumbNail*/
// <div class="thumb"><span><img /></span></div> 형식
.thumb{@include makeCanvas(200px,200px);} // 가로,세로 입력.